project: 
  fullPath: "TestConfigAsCode9103"
  origin: "jenkins"
sast: 
  engineConfiguration: "Korean"
  excludeFolders: \"_cvs, .svn, .hg, .git, .bzr, bin, obj, backup, node_modules\"
  includeExcludePattern: \"!**/*.DS_Store, **/*.java\"
  high: 3000
  medium: 1000
  low: 2000
  incremental: false
  preset: "Android"
  privateScan: false
  overrideprojectsettings: true
sca:
  fileInclude: "dll" 
  fileExclude: "nothing.jar" 
  pathExclude: "test"
  high: 300
  medium: 300
  low: 300
